.project-data-wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    .unclaimed-work {
        background-color: #c0c0c0;
    }

    .render-system {
        background-color: #6dc34c;
    }


    .api-performence {
        background-color: #e75555;
    }
}