<div class="cards-wrapper mb-3">
    <div class="card">
        <div class="row mx-0 w-100">
            <div class="col-6 px-0">
                <div class="py-4 text-center">
                    <h2 class="fw-semibold text-primary mb-0">432 Hours</h2>
                    <p class="fs-5 text-black-50 mb-0 fw-medium">Current Year to Date SR&ED</p>
                </div>
            </div>
            <div class="col-6 px-0">
                <div class="py-4 text-center">
                    <h2 class="fw-semibold text-black-50 mb-0 d-flex align-items-center justify-content-center gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"
                            fill="currentColor">
                            <path
                                d="M5 3V19H21V21H3V3H5ZM20.2929 6.29289L21.7071 7.70711L16 13.4142L13 10.415L8.70711 14.7071L7.29289 13.2929L13 7.58579L16 10.585L20.2929 6.29289Z">
                            </path>
                        </svg>
                        461 Hours
                    </h2>
                    <p class="fs-5 text-black-50 mb-0 fw-medium">Full Year SR&ED (Projected) </p>
                </div>
            </div>
        </div>
    </div>
</div>